conda.enabled = true
docker.enabled = false

process {
  executor = 'local'
  memory = 3.GB // do I need more? Generate a report when testing the pipeline
  resourceLimits = [
    memory: 230.GB,
    cpus: 48,
    time: 30.d
  ]
}

params {
    separateIDs = "false"

    // filtering parameters
    stopBeforeFiltering = false

    evalueThreshold = null
    filterByOrganism = false
    filterByGenome = false


    // // params related to synteny search
    genomeDBsynteny = null
    syntenyInput = null
    hmmsList = null
    hmmsDir = null
    hmmsMetadata = null

    keepSyntenyFasta = 'false'
    intersectPident = "99"
    intersectQcovs = "90"

    // retrieving metadata
    genomeDBmetadata = 'dummyPath' // I've tried it with null, but that causes issues. Using a fake path should achieve the same result.
    entrezEmail = 'example@mail.com'
    splitSize = '8000'
    
    // alternatively, provide a metadata file from a previous run and skip the retrieval
    existingMetadata = null

    // metadata categorization
    category = 'data/category_keywords.txt'
    subcategory = 'data/subcategory_keywords.txt'

    // align using this pipeline?
    align = false
}


/*
* Output settings
*/
// outputDir = "custom-outdir-config/"

// workflow {
//   output.mode = 'copy'
// }

// by default, Nextflow produces an error if you try to overwrite an existing log file
report {
    overwrite = true
}

/*
* Profiles
* Change my_device as needed
*/
profiles {
  my_device {
    process.executor = 'local'
    docker.enabled = true
  }
  test {
    // enter params here
  }
}